body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    background-image: 
        radial-gradient(circle, #222 1px, transparent 1px), 
        linear-gradient(#111 1px, transparent 1px); 
    background-size: 40px 40px, 40px 40px; 
    color: #fff; 
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}



h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); 
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    font-size: 32px;
    color: #FFD700; 
    text-shadow: 2px 2px 4px #000000, 0 0 10px #FF0000; 
    background-color: rgba(0,0,0,0.5); 
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FFFF00; 
}
